PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE branches (
            id BLOB PRIMARY KEY,
            name TEXT NOT NULL,
            address TEXT NOT NULL,
            latitude REAL NOT NULL,
            longitude REAL NOT NULL,
            senior_pastor TEXT NOT NULL,
            phone TEXT NOT NULL,
            email TEXT NOT NULL,
            service_times TEXT NOT NULL,
            announcement TEXT,
            is_verified INTEGER NOT NULL DEFAULT 0,
            last_updated INTEGER NOT NULL
        , created_at TEXT, updated_at TEXT, is_active INTEGER DEFAULT 1);
INSERT INTO branches VALUES('11111111-1111-1111-1111-111111111111','Ministry of Repentance - Nairobi CBD','Moi Avenue, Nairobi',-1.286389000000000004,36.81722299999999848,'Rev. John Mwangi','+254712345678','nairobi@repentance.org','{"Sunday": ["8:00 AM", "10:00 AM", "12:00 PM"], "Wednesday": ["6:00 PM"], "Friday": ["5:00 PM"]}',NULL,1,1775846625,'2026-04-14 12:47:57','2026-04-14 12:47:57',1);
INSERT INTO branches VALUES('22222222-2222-2222-2222-222222222222','Ministry of Repentance - Westlands','Waiyaki Way, Westlands',-1.264443999999999902,36.80027799999999872,'Senior Pastor Sarah ','+254723456987','westlands@repentance.org','{"Monday":["10:30 AM"],"Sunday":["11:00 AM","6:30 AM"],"Thursday":["7:30 PM"]}',NULL,1,1776126844,'2026-04-14 12:47:57','2026-04-14 12:47:57',1);
INSERT INTO branches VALUES('33333333-3333-3333-3333-333333333333','Ministry of Repentance - Kisumu','Oginga Odinga Road, Kisumu',-0.1022219999999999934,34.76166700000000276,'Rev. Peter Otieno','+254734567890','kisumu@repentance.org','{"Sunday": ["7:00 AM", "10:00 AM"], "Tuesday": ["5:00 PM"]}',NULL,1,1775846625,'2026-04-14 12:47:57','2026-04-14 12:47:57',1);
COMMIT;
