PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE clergy_users (
    id TEXT PRIMARY KEY,
    branch_id TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT,
    name TEXT NOT NULL,
    role TEXT DEFAULT 'admin',
    created_at INTEGER NOT NULL,
    FOREIGN KEY (branch_id) REFERENCES branches(id)
);
INSERT INTO clergy_users VALUES('clergy_001','22222222-2222-2222-2222-222222222222','pastor@repentance.org','+254712345678','Rev. John Mwangi','pastor',1775817826);
INSERT INTO clergy_users VALUES('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa','11111111-1111-1111-1111-111111111111','clergy@branch.org',NULL,'Test Clergy','admin',1776169930);
COMMIT;
